############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#############
## Unity
#############

#Unity3D ignores

TheMissingBeat/[Ll]ibrary/
TheMissingBeat/[Tt]emp/
TheMissingBeat/[Oo]bj/
TheMissingBeat2D/[Ll]ibrary/
TheMissingBeat2D/[Tt]emp/
TheMissingBeat2D/[Oo]bj/

*.tmproj
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.userprefs
